<h2 class="mt-4">My Saved Events:</h2>

<% if @events.present? %>
  <ul>
    <% @events.each do |event| %>
      <li class="event-item">
        <%= link_to event.title, event, class: 'text-decoration-none' %>
        <%= button_to 'Remove Event', saved_event_path(event_id: event.id), method: :delete, class: 'btn btn-danger' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="text-muted">You have no saved events.</p>
<% end %>